@use 'variables' as *;

.gbm-block-list {
	width: 100%;
	width: 100%;
	display: grid;
	background-color: #ebedee;
	background-color: #f9f9f9;
	gap: 1px;
	//background-color: #fff;
	//padding: 10px;
	position: relative;
	text-align: left;

	@media screen and (min-width: $small) {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	@media screen and (min-width: $large) {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	.item {
		padding: 10px;
		margin: 0;
		display: flex;
		gap: 5px;
		align-items: center;
		position: relative;
		width: 100%;
		background-color: #fff;
		//border: 1px solid transparent;
		border: none;
		overflow: hidden;
		transition: border-color 0.1s ease;
		// border-bottom: 1px solid $border_light;
		// border-right: 1px solid $border_light;
		// cursor: pointer;
		// border-radius: $radius;
		&:nth-child(even) {
			//border-right: none;
		}

		.gbm-block-switch {
			cursor: pointer;
		}

		> div {
			position: relative;
			z-index: 1;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			width: 100%;
			gap: 10px;

			/* SVG Icons */
			svg {
				fill: currentcolor;
			}
		}

		p {
			color: $text;
			text-align: center;
			padding: 0;
			margin: 0;
			line-height: 1.35;
			text-transform: capitalize;
			font-size: 12px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			font-weight: 500;
			text-align: left;
			span {
				display: block;
				color: $grey_dark;
				text-transform: lowercase;
			}
			& .block-title--prefix {
				font-style: normal;
				opacity: 0.5;
				font-weight: 400;
			}

			&.block-title--pattern {
				overflow: unset;
				text-overflow: unset;
				white-space: normal;
				padding: 0 10px;
			}
		}
		.block-desc,
		.block-id {
			display: none;
		}
		&:hover:not(.disabled):not(.filtered):not(.gbm-category),
		&:focus:not(.disabled):not(.filtered):not(.gbm-category) {
			background-color: $block_hover;
		}

		&:focus-visible:not(.filtered) {
			outline: 2px solid $purple;
			outline-offset: -2px;
		}

		// Disabled
		&.disabled,
		&.filtered {
			background-color: $grey_light;
			> div {
				opacity: 0.75;
			}
		}

		// Filtered
		&.filtered {
			background-color: $block_filtered;
			.gbm-block-switch {
				cursor: not-allowed;
			}
		}

		&.loading {
			> .gbm-block-group {
				opacity: 0.5;
			}
		}
		&--wrap {
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			flex-wrap: nowrap;
			width: 100%;
			position: relative;
			padding-left: 40px;

			.block-info {
				display: block;
				width: 100%;
				height: auto;
				line-height: 1.4;
				&--wrap {
					flex: 1;
					text-align: left;
				}
				&--id {
					font-size: 12px;
					font-family: 'consolas', Monaco, monospace;
					color: #999;
					display: none;
				}
			}
		}
		&[data-category='woocommerce'] {
			div.icon {
				color: #96588a;
				opacity: 1;
				svg {
					fill: currentcolor;
				}
			}
		}
	}

	// Category Switcher
	&.categories {
		gap: 1px;
		padding: 0;
		grid-template-columns: repeat(1, minmax(0, 1fr));
		@media screen and (min-width: $xsmall) {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}
		@media screen and (min-width: $small) {
			grid-template-columns: repeat(3, minmax(0, 1fr));
		}
		@media screen and (min-width: $medium) {
			grid-template-columns: repeat(3, minmax(0, 1fr));
		}
		@media screen and (min-width: $large) {
			grid-template-columns: repeat(4, minmax(0, 1fr));
		}
		@media screen and (min-width: $xlarge) {
			grid-template-columns: repeat(6, minmax(0, 1fr));
		}
		.item {
			padding: 0;
			cursor: default;
			display: grid;
			justify-content: center;
			.gbm-category-wrap {
				padding: $padding;
				display: grid;
				justify-content: center;
				width: 100%;
			}
			.category-switch {
				background-color: rgba(0, 0, 0, 0.035);
				border-top: 1px solid $border_light;
				margin-top: auto;
				select {
					width: 100%;
					border-color: $grey_dark;
					color: $text;
					&:hover,
					&:focus {
						color: $purple;
						border-color: $purple;
						box-shadow: none !important;
					}
					&:focus {
						outline: 2px solid $purple;
						outline-offset: 2px;
					}
					&[disabled] {
						background-color: #fff;
						pointer-events: none;
						opacity: 0.75;
					}
				}
			}
			&.updated {
				background-color: $block_hover;
			}
			&.filtered {
				pointer-events: none;
			}
			p {
				font-size: 13px;
				line-height: 1.5;
				text-align: center;
				span {
					font-size: 12px;
					font-family:
						Menlo,
						Consolas,
						Monaco,
						Lucida Console,
						monospace;
					width: 100%;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					display: block;
					padding-top: 2px;
					font-weight: 400;
				}
			}
		}
	}

	// Section heading.
	&-heading {
		display: flex;
		width: 100%;
		align-items: center;
		flex-wrap: nowrap;
		margin: 0;
		padding: 10px;
		border-bottom: 1px solid $border_light;
		background-color: #fff;
		border-radius: 3px 3px 0 0;
		&.no-border {
			border: none;
		}
		h3 {
			flex: 1;
			text-transform: capitalize;
			padding: 0;
			margin: 0;
			font-size: 14px;
			span {
				font-weight: 400;
				font-size: 12px;
				position: relative;
				left: 5px;
				color: $text;
				opacity: 0.5;
			}
		}
	}
}

// Disabled SVG styles.
.disabled-svg {
	z-index: 0;
	visibility: hidden;
	opacity: 0;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	transition: $transition;
	padding: 1px;
	line {
		stroke: #d6dbdf;
		stroke-width: 1;
	}
	&.disabled {
		visibility: visible;
		opacity: 0.5;
	}
	&.filtered {
		visibility: visible;
		opacity: 0.5;
		line {
			stroke: #e1e0c8;
		}
	}
}
