.gbm-loader {
	padding: 0 0 0 30px;
	width: 100%;
	background: url('../images/ajax-loader.gif') no-repeat left center;
	cursor: default;
	pointer-events: none;
	line-height: 32px;
	font-size: 14px;
}
