.gbm-notification-list{
	position: fixed;
	opacity: 1;
	z-index: 999999;
	right: 15px;
	bottom: 15px;
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	width: 220px;
	font-size: 12px;
	@media screen and (min-width: $wp_break) {
		width: 275px;
		right: 20px;
		bottom: 25px;
		font-size: 13px;
	}
}

.gbm-notification{
	padding: 15px 15px 15px 12px;
	background-color: #fff;
	box-shadow: $shadow, 0 0 0 1px rgba($green,0.5);
	border-radius: $radius;
	display: flex;
	align-items: center;
	gap: 7px;
	line-height: 20px;
	transition: all 0.25s ease-in-out;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	position: relative;
	left: 20px;
	color: $text;
	@media screen and (min-width: $wp_break) {
		right: 30px;
		bottom: 25px;
	}
	&.active{
		opacity: 1;
		visibility: visible;
		left: 0;
	}
	&.out{
		opacity: 0;
		visibility: hidden;
		left: 20px;
	}
	span.dashicons {
		opacity: 0.65;
		color: $green;
	}
	strong{
		font-weight: 600;
	}
	&--error {
		background-color: $red;
		box-shadow: $shadow;
		color: #fff;
		span.dashicons {
			color: #fff;
		}
	}
}
