@import './variables.scss';
@import './options.scss';
@import './block-list.scss';

.settings_page_block-manager {
	#wpbody-content {
		background-color: #f1f1f1;
	}
}
.gbm {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}
	button[type='button'] {
		cursor: pointer;
	}

	&-block-list-wrapper {
		padding: 0 20px;
		width: 100%;
		max-width: 1800px;
		@media screen and (min-width: $xsmall) {
			display: flex;
			flex-direction: row-reverse;
		}
		&.categories {
			max-width: 1400px;
		}
		.global-loader.loading {
			background: url('../images/ajax-loader.gif') no-repeat 2px 26px;
			padding: 25px 0 25px 26px;
			display: block;
		}
		&.loaded {
			.global-loader.loading {
				display: none;
			}
		}
		.gbm-block-group {
			margin: 0 0 15px;
			background: #fff;
			border: 1px solid $grey;
			border-radius: $radius;
		}
		// Sidebar.
		.gbm-sidebar {
			align-self: flex-start;
			width: 100%;
			margin-bottom: 15px;
			padding: 0;
			background-color: #fff;
			border-radius: $radius;
			border: 1px solid $grey;
			box-shadow: 0 5px 10px rgba(0,0,0,.035);
			@media screen and (min-width: $xsmall) {
				width: 200px;
			}
			@media screen and (min-width: $small) {
				width: 275px;
				position: sticky;
				top: 50px;
				left: 0;
			}
			h3 {
				font-size: 15px;
				border-bottom: 1px solid $grey;
				padding: 15px;
				margin: 0;
			}
			&-wrap {
				padding: 15px;
				button {
					background: none;
					border: none;
					outline: none;
					text-align: left;
					padding: 0 0 5px;
					margin: 0 0 5px;
					width: 100%;
					display: block;
					font-size: 13px;
					&:hover,
					&:focus {
						border: none;
						background-color: transparent;
						text-decoration: underline;
						color: $purple;
					}
				}
				p {
					margin: 0 0 15px;
				}
			}
		}

		// Block listing.
		.gbm-blocks {
			flex: 1;
			@media screen and (min-width: $xsmall) {
				padding-right: 25px;
			}
			// List View
			&.gbm-view-list {
				button.item {
					width: 100% !important;
					margin: 0 0 5px !important;
					border: none;
					background-color: transparent;
					padding: 10px 35px 10px 10px;
					.gbm-block-switch {
						left: auto;
						bottom: auto;
						right: 13px;
						top: 15px;
					}
				}
			}
		}
		// Search Input
		.gbm-search {
			display: block;
			width: 100%;
			position: relative;
			padding: 0;
			margin-top: 10px;
			input {
				border-radius: $radius;
				width: 100%;
				margin: 0;
				padding: 10px;
				border-color: $grey;
				background-color: #f7f7f7;
				height: auto;
				font-size: 13px;
				line-height: 1;
				&:focus{
					outline-offset: 1px;
					outline: 2px solid $purple;
					box-shadow: none;
				}
			}
			button {
				margin: 0;
				padding: 0 5px;
				background: transparent;
				color: $grey;
				border: none;
				border-radius: 0;
				height: 32px;
				font-size: 13px;
				position: absolute;
				top: calc(50%);
				transform: translateY(-50%);
				width: auto;
				right: 0;
				&:focus,
				&:hover {
					border: none;
					background-color: transparent;
					text-decoration: none;
					color: $purple;
				}
			}
		}
	}
	&-code-export {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(255, 255, 255, 0.85);
		z-index: 99999;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		opacity: 0;
		visibility: hidden;
		transition: all 0.35s ease-in-out 0.1s;
		transform: scale(1.1);
		&.active {
			opacity: 1;
			visibility: visible;
			transform: scale(1);
		}
		&--inner {
			max-width: 680px;
			margin: 0 auto;
			padding: 20px;
			background-color: #fff;
			border-radius: 10px;
			border: 1px solid $grey;
			box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
			> div {
				display: flex;
				width: 100%;
				padding: 0 0 10px 5px;
				justify-content: space-between;
				align-items: center;
			}
			button {
				margin-left: 5px !important;
				border-radius: $radius;
			}
			p {
				margin: 0;
				padding: 0;
				max-width: 60%;
			}
		}
		code {
			display: block;
			padding: 20px;
			word-break: break-word;
			font-size: 11px;
			border-radius: $radius;
			font-family: 'consolas', Monaco, monospace;
			border: 1px solid $grey;
			max-height: 300px;
			overflow: hidden;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
		}
	}

	&-block-list-controls {
		display: flex;
		width: 100%;
		align-items: center;
		flex-wrap: nowrap;
		margin: 0;
		padding: 10px $padding;
		border-bottom: 1px solid $grey;
		background-color: #f7f7f7;
		border-radius: 3px 3px 0 0;
		&.no-border {
			border: none;
		}
		&.categories {
			padding: 0 25px;
			height: 45px;
			font-weight: 600;
			text-transform: uppercase;
			display: none;
			@media screen and (min-width: $small) {
				display: flex;
			}
			p {
				margin: 0;
			}
			h3:last-of-type {
				text-align: right;
			}
		}
		h3 {
			flex: 1;
			text-transform: capitalize;
			padding: 0;
			margin: 0;
			font-size: 14px;
			span {
				font-weight: 400;
				opacity: 0.5;
				font-size: 12px;
				position: relative;
				left: 2px;
			}
		}
		.gbm-block-switch {
			position: relative;
			top: -1px;
			width: 30px;
			height: 30px;
		}
	}
	&-block-switch {
		cursor: pointer;
		height: 13px;
		width: 22px;
		padding: 0;
		margin: 0;
		box-shadow: none;
		border: none;
		background-color: transparent;
		&--wrap {
			position: relative;
			height: 13px;
			width: 26px;
			background-color: $green;
			border-radius: 100px;
			transition: $transition;
		}
		span {
			border-radius: 100px;
			width: 9px;
			height: 9px;
			background-color: #fff;
			display: block;
			transition: $transition;
			margin-left: 15px;
			position: relative;
			top: 2px;
		}
		&.disabled {
			.gbm-block-switch--wrap {
				background-color: #ccc;
			}
			span {
				margin-left: 2px;
			}
		}
	}

	&-block-categories {
		padding: 0 20px;
		width: 100%;
		max-width: 1800px;
		display: flex;
		flex-wrap: wrap;
		> div {
			width: 100%;
		}
	}

	.offscreen {
		position: absolute !important;
		top: -9999px !important;
		left: -9999px !important;
	}
}

// Header
.gbm-page-wrap {
	&--header {
		background-color: #fff;
		padding: 20px;
		position: relative;
		@media screen and (min-width: $small) {
			padding-right: 200px;
		}
		h1{
			display: none;
		}
		&-title {
			background: url('../images/icon.png') no-repeat 0 0;
			background-size: 48px 48px;
			min-height: 48px;
			padding: 0 0 0 58px;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			width: 100%;
		}
		h2 {
			margin: 0;
			padding: 0;
			font-size: 20px;
			width: 100%;

			span {
				font-size: 13px;
				position: relative;
				top: -1px;
				left: 1px;
				font-weight: 400;
				border-radius: $radius;
				background-color: rgba($purple, 0.15);
				display: inline-block;
				line-height: 1;
				padding: 5px;
			}
		}
		p {
			padding: 0;
			margin: 0;
			width: 100%;
		}
		p span.block-total {
			display: inline-block;
			background: #f7f7f7;
			padding: 1px 4px;
			border-radius: $radius;
			border: 1px solid #efefef;
			font-weight: 600;
		}
		button.button {
			margin-top: 10px;
			display: none;
			@media screen and (min-width: $xsmall) {
				display: flex;
				align-items: center;
			}
			@media screen and (min-width: $small) {
				margin-top: 0;
				position: absolute;
				right: 20px;
				top: 50%;
				transform: translateY(-50%);
			}
			span {
				position: relative;
				left: -2px;
			}
		}
	}
}

.settings_page_block-manager {
	#wpcontent {
		padding-left: 0;
	}
	#gbm-container {
		padding: 0;
		position: relative;
		*,
		*::before,
		*::after {
			box-sizing: border-box;
		}

		// Tab navigation
		.nav-tab-wrapper {
			padding: 6px 15px 0;
			margin: 0 0 20px;
			border-color: $grey;
			background: #fff;
			display: flex;
			width: 100%;
			align-items: center;
			.nav-tab {
				padding: 7px 16px;
				border-radius: 3px 3px 0 0;
				float: none;
				&-active{
					cursor: default;
				}
			}
			i {
				opacity: 0.35;
				margin: 0 3px;
				font-size: 12px;
			}
			span {
				padding: 0 1px 0 12px;
				font-size: 14px;
				font-weight: 500;
				float: left;
				position: relative;
				top: -1px;
			}
		}
	}
}

#gbm-other-plugins {
	background: #f7f7f7;
	padding: 20px 20px 0;
	border-bottom: 1px solid $grey;
	display: none;
	h2 {
		padding: 0;
		margin: 0;
	}
	section {
		max-width: 1800px;
		position: relative;
		> h2 {
			margin: 0 0 20px;
		}
		> button {
			position: absolute;
			right: 0;
			top: -8px;
		}
	}
}

body.settings_page_block-manager #wpfooter {
	padding-top: 0;
	padding-bottom: 0;
	line-height: 40px;
	background: #f7f7f7;
	border-top: 1px solid #efefef;
	position: fixed;
	bottom: 0;
	z-index: 1100;
	p {
		line-height: 40px;
  }
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
