$transition: all 0.15s ease;
$radius: 4px;
$padding: 15px;
$purple: #8568c1;
$purple_alt: #a788e5;
$green: #75ca5d;
$grey_light: #f7f7f7;
$grey: #e2e5e7;
$grey_dark: #999ea2;
$yellow: #ffdf3c;
$text: #2b2c2d;
$blue: #007cba;

$xsmall: 480px;
$small: 768px;
$medium: 1024px;
$large: 1300px;
$xlarge: 1700px;
