$transition: all 0.15s ease;
$radius: 4px;
$padding: 15px;
$purple: #8568c1;
$purple_alt: #a788e5;
$green: #75ca5d;
$grey_light: #f7f7f7;
$grey: #e2e5e7;
$grey_dark: #999ea2;
$yellow: #ffdf3c;
$text: #3d3e40;
$blue: #007cba;
$border_light: rgba($grey, 0.5);

$block_filtered: #f9f8e7;
$block_disabled: $grey_light;

$xsmall: 480px;
$small: 768px;
$medium: 1024px;
$large: 1300px;
$xlarge: 1700px;
