$transition: all 0.15s ease;
$radius: 4px;
$purple: #80629e;
$green: #75ca5d;
$grey: #ccd0d4;
$grey_dark: #999ea2;

$xsmall: 600px;
$small: 768px;
$medium: 1024px;
$large: 1300px;
$xlarge: 1700px;

.settings_page_block-manager {
	#wpbody-content {
		background-color: #f1f1f1;
	}
}
.gbm {
	*,
	*:before,
	*:after {
		box-sizing: border-box;
	}
	button[type='button'] {
		cursor: pointer;
	}

	&-block-list-wrapper {
		padding: 0 20px;
		width: 100%;
		max-width: 1800px;
		@media screen and (min-width: $xsmall) {
			display: flex;
			flex-direction: row-reverse;
		}
		&.categories {
			max-width: 1400px;
		}
		.global-loader.loading {
			background: url('img/ajax-loader.gif') no-repeat 2px 26px;
			padding: 25px 0 25px 26px;
			display: block;
		}
		&.loaded {
			.global-loader.loading {
				display: none;
			}
		}
		.gbm-block-group {
			margin: 0 0 15px;
			background: #fff;
			border: 1px solid $grey;
			border-radius: $radius;
		}
		.gbm-nav {
			width: 100%;
			margin-bottom: 15px;
			@media screen and (min-width: $xsmall) {
				width: 225px;
			}
			@media screen and (min-width: $small) {
				width: 250px;
			}
			padding: 0;
			position: relative;
			transition: $transition;
			&-wrap {
				padding-bottom: 5px;
				button {
					background: none;
					border: none;
					outline: none;
					text-align: left;
					padding: 0 0 5px;
					margin: 0 0 5px;
					width: 100%;
					display: block;
					font-size: 13px;
					&:hover,
					&:focus {
						border: none;
						background-color: transparent;
						text-decoration: underline;
						color: $purple;
					}
				}
				p {
					margin: 0 0 15px;
				}
			}
			#gbm-sticky {
				padding: 16px 15px 15px;
				background: #fff;
				border: 1px solid $grey;
				border-radius: $radius;
			}
		}
		.gbm-blocks {
			flex: 1;
			@media screen and (min-width: $xsmall) {
				padding-right: 20px;
			}
			// Grid View
			button.item {
				width: 100%;
				@media screen and (min-width: $xsmall) {
					width: 100%;
					margin: 0 0 10px;
				}
				@media screen and (min-width: 800px) {
					margin: 0 5px 10px;
					width: calc(50% - 10px);
				}
				@media screen and (min-width: $medium) {
					width: calc(33.333% - 10px);
				}
				@media screen and (min-width: $large) {
					width: calc(25% - 10px);
				}
				@media screen and (min-width: $xlarge) {
					width: calc(20% - 10px);
				}
			}
			// List View
			&.gbm-view-list {
				button.item {
					width: 100% !important;
					margin: 0 0 5px !important;
					border: none;
					background-color: transparent;
					padding: 10px 35px 10px 10px;
					.gbm-block-switch {
						left: auto;
						bottom: auto;
						right: 13px;
						top: 15px;
					}
				}
			}
		}
		// Search Input
		.gbm-search {
			display: block;
			width: 100%;
			position: relative;
			padding: 15px 0 0;
			border-top: 1px solid $grey;
			input {
				border-radius: $radius;
				width: 100%;
				margin: 0;
				padding: 0 5px;
				border-color: $grey;
				background-color: #f7f7f7;
				height: 32px;
				font-size: 13px;
			}
			button {
				font-size: 14px;
				margin: 0;
				padding: 0 5px;
				background: transparent;
				color: $grey;
				border: none;
				border-radius: 0;
				height: 32px;
				font-size: 13px;
				position: absolute;
				top: calc(50% + 7px);
				transform: translateY(-50%);
				right: 0;
				&:focus,
				&:hover {
					color: $purple;
				}
			}
		}
	}
	&-code-export {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(255, 255, 255, 0.85);
		z-index: 99999;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		opacity: 0;
		visibility: hidden;
		transition: all 0.35s ease-in-out 0.1s;
		transform: scale(1.1);
		&.active {
			opacity: 1;
			visibility: visible;
			transform: scale(1);
		}
		&--inner {
			max-width: 680px;
			margin: 0 auto;
			padding: 20px;
			background-color: #fff;
			border-radius: 10px;
			border: 1px solid $grey;
			box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
			> div {
				display: flex;
				width: 100%;
				padding: 0 0 10px 5px;
				justify-content: space-between;
				align-items: center;
			}
			button {
				margin-left: 5px !important;
				border-radius: $radius;
			}
			p {
				margin: 0;
				padding: 0;
				max-width: 60%;
			}
		}
		code {
			display: block;
			padding: 20px;
			word-break: break-word;
			font-size: 11px;
			border-radius: $radius;
			font-family: 'consolas', Monaco, monospace;
			border: 1px solid $grey;
			max-height: 300px;
			overflow: hidden;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
		}
	}

	&-options {
		padding: 0 0 15px;
		display: flex;
		justify-content: flex-end;
		width: 100%;
		button {
			border-radius: $radius;
			border: 1px solid $grey;
			background-color: #fff;
			margin: 0;
			padding: 8px 12px 8px 10px;
			display: flex;
			align-items: center;
			font-size: 12px;
			line-height: 1;
			color: #777;
			&:hover,
			&:focus {
				color: #222;
				border-color: $grey_dark;
			}
			span {
				margin-right: 5px;
				opacity: 0.75;
			}
			span,
			span:before {
				height: 15px;
				width: 15px;
				font-size: 15px;
			}
			&.active {
				background-color: $grey_dark;
				border-color: $grey_dark;
				color: #fff;
				cursor: default;
				box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
				font-weight: 500;
				span {
					opacity: 1;
				}
			}
			&.resetblocks,
			&.export {
				margin-left: 5px;
			}
			&.hidden {
				display: none;
			}
			&.spin {
				.dashicons {
					animation-name: spin;
					animation-duration: 1250ms;
					animation-iteration-count: infinite;
					animation-timing-function: linear;
				}
			}
		}

		&--view {
			display: flex;
			margin-right: auto;
			button {
				border-radius: 0 $radius $radius 0;
				&:first-of-type {
					border-right: none;
					border-radius: $radius 0 0 $radius;
				}
				&:last-of-type {
					border-left: none;
				}
			}
		}
	}

	&-block-list {
		width: 100%;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		position: relative;
		padding: 10px 10px 0px;
		text-align: left;
		@media screen and (min-width: $xsmall) {
			padding: 10px 5px 0px;
		}
		&.loading {
			.loader {
				opacity: 0.5;
				visibility: visible;
			}
		}

		.loader {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: #fff;
			z-index: 9999;
			transition: $transition;
			visibility: hidden;
			opacity: 0;
			cursor: default;
		}

		.item {
			padding: 15px 15px 45px;
			border: 1px solid $grey;
			background-color: #f7f7f7;
			background-position: right 15px bottom 15px;
			border-radius: $radius;
			position: relative;
			transition: $transition;
			margin: 0 0 10px;
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			position: relative;
			// Disabled
			&.disabled {
				background-color: rgba(255, 255, 255, 0.25);
				//border-color: #e1e1e1;
				.gbm-block-switch {
					&--wrap {
						background-color: #ccc;
					}
					span {
						margin-left: 2px;
					}
				}
				.icon {
					opacity: 0.35;
				}
				&:hover,
				&:focus {
					border-color: #999;
				}
			}
			// Filtered
			&.filtered {
				background-color: rgba(255, 255, 255, 0.5);
				border-color: #efefef;
				cursor: not-allowed;
				text-decoration: none;
				opacity: 0.65;
				&:hover,
				&:focus {
					border-color: #efefef;
					.block-info--title {
						text-decoration: none;
					}
				}
			}
			&.loading {
				> .gbm-block-group {
					opacity: 0.65;
				}
				background: #fff url('img/ajax-loader.gif') no-repeat right 15px bottom 15px;
			}
			&--wrap {
				display: flex;
				align-items: flex-start;
				flex-direction: column;
				flex-wrap: nowrap;
				width: 100%;
				position: relative;
				padding-left: 40px;

				.block-info {
					display: block;
					width: 100%;
					height: auto;
					line-height: 1.4;
					&--wrap {
						flex: 1;
						text-align: left;
					}
					&--title {
						font-weight: 600;
						margin-bottom: 5px;
						font-size: 14px;
						line-height: 18px;
						text-transform: capitalize;
					}
					&--desc {
						color: $grey_dark;
						width: 100%;
						display: -webkit-box;
						-webkit-line-clamp: 3;
						-webkit-box-orient: vertical;
						overflow: hidden;
					}
					&--id {
						font-size: 12px;
						font-family: 'consolas', Monaco, monospace;
						color: #999;
						display: none;
					}
				}
			}
			&[data-category='woocommerce'] {
				div.icon {
					color: #96588a;
					opacity: 1;
					svg {
						fill: currentColor;
					}
				}
			}
			span.dashicons {
				font-size: 23px;
			}
			div.icon {
				width: 24px;
				opacity: 0.65;
				display: block;
				margin: 0 0 8px;
				text-align: left;
				position: absolute;
				left: 0;
				top: 0;
				transition: $transition;
				svg {
					max-width: 100%;
				}
			}
		}
		button.item {
			cursor: pointer;
			&:hover,
			&:focus {
				border-color: $grey_dark;
				&.disabled {
					.gbm-block-switch--wrap {
						background-color: #999;
					}
				}
				.block-info--title {
					text-decoration: underline;
				}
			}
		}
		// Category Switcher
		&.categories {
			padding: 10px 25px;
			.item {
				width: 100%;
				padding: 15px 2px;
				margin: 0;
				background: #fff !important;
				border: none;
				border-top: 1px solid $grey;
				border-radius: 0;
				&:hover,
				:focus-within {
					.block-info--title {
						text-decoration: underline;
					}
				}
				&:first-of-type {
					border: none;
				}
				.gbm-cat-status {
					position: absolute;
					right: 5px;
					bottom: 5px;
					transition: all 0.25s ease;
					color: #fff;
					background-color: $green;
					padding: 9px 11px;
					border-radius: 2px;
					font-size: 12px;
					line-height: 1;
					opacity: 0;
					visibility: hidden;
					&.active {
						opacity: 0.9;
						visibility: visible;
					}
				}
				.block-info--title {
					font-size: 15px;
					padding-top: 2px;
				}
				.block-info--desc {
					display: none;
				}
				.block-info--id {
					display: block;
				}
				.block-info--wrap {
					width: 100%;
					@media screen and (min-width: $small) {
						display: flex;
						flex-wrap: nowrap;
						align-items: center;
					}
				}
				.block-info--action {
					padding-top: 15px;
					@media screen and (min-width: $small) {
						padding-top: 0;
						margin-left: auto;
					}
				}
				label {
					span {
						display: block;
					}
					select {
						margin: 0;
						min-width: 160px;
						//max-width: 200px;
					}
				}
				&.loading {
					.loading-cover {
						opacity: 1;
						visibility: visible;
					}
				}
				.loading-cover {
					display: block;
					opacity: 0;
					visibility: hidden;
					position: absolute;
					left: 0;
					top: 0;
					bottom: 0;
					right: 0;
					z-index: 9999;
					background: rgba(255, 255, 255, 0.65) url('img/ajax-loader.gif') no-repeat center center;
					transition: all 0.25s ease;
				}
			}
		}
		.gbm-block-switch {
			position: absolute;
			left: 13px;
			bottom: 15px;
		}
	}
	&-block-list-controls {
		display: flex;
		width: 100%;
		align-items: center;
		flex-wrap: nowrap;
		margin: 0;
		padding: 8px 10px 8px 11px;
		border-bottom: 1px solid $grey;
		background-color: #f7f7f7;
		border-radius: 3px 3px 0 0;
		&.no-border {
			border: none;
		}
		&.categories {
			padding: 0 25px;
			height: 45px;
			font-weight: 600;
			text-transform: uppercase;
			display: none;
			@media screen and (min-width: $small) {
				display: flex;
			}
			p {
				margin: 0;
			}
			h3:last-of-type {
				text-align: right;
			}
		}
		h3 {
			flex: 1;
			text-transform: uppercase;
			padding: 0;
			margin: 0;
			font-size: 13px;
			font-weight: 700;
			span {
				font-weight: 400;
				opacity: 0.5;
				font-size: 12px;
				position: relative;
				left: 2px;
			}
		}
		.gbm-block-switch {
			position: relative;
			top: -1px;
			width: 30px;
			height: 30px;
		}
	}
	&-block-switch {
		cursor: pointer;
		height: 9px;
		width: 22px;
		padding: 0;
		margin: 0;
		box-shadow: none;
		border: none;
		background-color: transparent;
		&--wrap {
			position: relative;
			height: 13px;
			width: 26px;
			background-color: $green;
			border-radius: 100px;
			transition: $transition;
		}
		span {
			border-radius: 100px;
			width: 9px;
			height: 9px;
			background-color: #fff;
			display: block;
			transition: $transition;
			margin-left: 15px;
			position: relative;
			top: 2px;
		}
		&.disabled {
			.gbm-block-switch--wrap {
				background-color: #ccc;
			}
			span {
				margin-left: 2px;
			}
		}
	}

	&-block-categories {
		padding: 0 20px;
		width: 100%;
		max-width: 1800px;
		display: flex;
		flex-wrap: wrap;
		> div {
			width: 100%;
		}
	}

	.offscreen {
		position: absolute !important;
		top: -9999px !important;
		left: -9999px !important;
	}
}

// Header
.gbm-page-wrap {
	&--header {
		background: #fff url('img/icon.png') no-repeat 20px 20px;
		background-size: 48px 48px;
		padding: 23px 20px 20px 78px;
		position: relative;
		@media screen and (min-width: $small) {
			padding-right: 200px;
		}
		h2 {
			margin: 0 0 3px;
			padding: 0;
			span {
				font-size: 12px;
				position: relative;
				top: -1px;
				left: 1px;
			}
		}
		p {
			padding: 0;
			margin: 0;
		}
		p span.block-total {
			display: inline-block;
			background: #f7f7f7;
			padding: 1px 4px;
			border-radius: $radius;
			border: 1px solid #efefef;
			font-weight: 600;
		}
		button.button {
			margin-top: 10px;
			display: none;
			@media screen and (min-width: $xsmall) {
				display: flex;
				align-items: center;
			}
			@media screen and (min-width: $small) {
				margin-top: 0;
				position: absolute;
				right: 20px;
				top: 50%;
				transform: translateY(-50%);
			}
			span {
				position: relative;
				left: -2px;
			}
		}
	}
}

#gbm-sticky.attached {
	position: fixed;
	width: auto;
	top: 70px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.settings_page_block-manager {
	#wpcontent {
		padding-left: 0;
	}
	#gbm-container {
		padding: 0;
		position: relative;
		*,
		*:before,
		*:after {
			box-sizing: border-box;
		}

		// Tab navigation
		.nav-tab-wrapper {
			padding: 6px 15px 0;
			margin: 0 0 20px;
			border-color: $grey;
			background: #fff;
			display: flex;
			width: 100%;
			align-items: center;
			.nav-tab {
				padding: 7px 16px;
				border-radius: 3px 3px 0 0;
				float: none;
				&-active{
					cursor: default;
				}
			}
			i {
				opacity: 0.35;
				margin: 0 3px;
				font-size: 12px;
			}
			span {
				padding: 0 1px 0 12px;
				font-size: 14px;
				font-weight: 500;
				float: left;
				position: relative;
				top: -1px;
			}
		}
	}
}

#gbm-other-plugins {
	background: #f7f7f7;
	padding: 20px 20px 0;
	border-bottom: 1px solid $grey;
	display: none;
	h2 {
		padding: 0;
		margin: 0;
	}
	section {
		max-width: 1800px;
		position: relative;
		> h2 {
			margin: 0 0 20px;
		}
		> button {
			position: absolute;
			right: 0;
			top: -8px;
		}
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
